@import url("./style.css");

#workspaces button {
  padding: 0;
}

#workspaces button.focused {
  color: #cba6f7;
}

window#waybar {
  /*background-color: rgb(17, 17, 27);*/
  background-color: #285577;
}
