* {
  border: none;
  font-family: 'Comic Code', 'Symbols Nerd Font Mono';
  font-size: 14px;
  min-height: 25px;
}

window#waybar {
  background-color: rgba(17, 17, 27, 0.85);
}
#workspaces {
  color: #89b4fa;
}

#window {
  color: #89b4fa;
  margin-right: 0;
  padding-left: 5px;
  padding-right: 10px;
}

#workspaces button {
  color: #cdd6f4;
  border-radius: 0;
}

#workspaces button.active {
  color: #89b4fa;
}

#clock,
#tray,
#custom-rstroller,
#privacy,
#pulseaudio,
#network,
#workspaces,
#battery {
  color: #cdd6f4;
  padding-left: 10px;
  padding-right: 10px;
}

