* {
  border: none;
  font-family: 'Comic Code', 'Symbols Nerd Font Mono';
  font-size: 14px;
  min-height: 25px;
}

window#waybar {
  background-color: rgba(25, 23, 36, 0.9);
}

#workspaces {
  color: #908caa;
}

#window {
  color: #908caa;
  margin-right: 0;
  padding-left: 5px;
  padding-right: 10px;
}

#workspaces button {
  color: #908caa;
  border-radius: 0;
  font-weight: normal;
}

#workspaces button.active {
  color: #cdd6f4;
  font-weight: bold;
}

#clock,
#tray,
#custom-rstroller,
#privacy,
#pulseaudio,
#network,
#workspaces,
#battery {
  color: #cdd6f4;
  padding-left: 10px;
  padding-right: 10px;
}

